/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.grid-1 {
  width: grid(1);
}

.grid-2 {
  width: grid(2);
}

.grid-3 {
  width: grid(3);
}

.grid-4 {
  width: grid(4);
}

.grid-5 {
  width: grid(5);
}

.grid-6 {
  width: grid(6);
}

.grid-7 {
  width: grid(7);
}

.grid-8 {
  width: grid(8);
}

.grid-9 {
  width: grid(9);
}

.grid-10 {
  width: grid(10);
}

.grid-11 {
  width: grid(11);
}

.grid-12 {
  width: grid(12);
}

.grid-1 {
  width: calc(8.33333% - 20px);
}

.grid-2 {
  width: calc(16.66667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.33333% - 20px);
}

.grid-5 {
  width: calc(41.66667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.33333% - 20px);
}

.grid-8 {
  width: calc(66.66667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.33333% - 20px);
}

.grid-11 {
  width: calc(91.66667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::afeter, .container::before {
  content: '';
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.row::afeter, .row::before {
  content: '';
  display: table;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.total {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  background-color: white;
}

.titulo {
  color: #FFCC29;
  font-family: "Poppins", sans-serif;
}

.areaTopo {
  max-width: 100%;
  height: 100px;
  background-color: #FFCC29;
}

@media screen and (max-width: 759px) {
  .areaTopo {
    flex-direction: column;
    justify-content: center;
    background-color: #FFCC29;
    width: 100%;
    height: 100vh;
  }
}

.topo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 759px) {
  .topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.fundoLogotipo {
  height: 100px;
  z-index: 2;
  position: absolute;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .fundoLogotipo {
    display: none;
  }
}

@media screen and (max-width: 759px) {
  .fundoLogotipo {
    display: none;
  }
}

.fundoLogotipo:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.logotipo {
  height: 70px;
  z-index: 10;
  position: relative;
  top: 10px;
  margin-left: 30px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .logotipo {
    height: 60px;
    background-color: #A02B2D;
    border: solid 5px #A02B2D;
    border-radius: 3px;
  }
}

@media screen and (max-width: 759px) {
  .marca {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 759px) {
  .logotipo {
    padding: 2px;
    background-color: #A02B2D;
    border: solid 5px #A02B2D;
    border-radius: 3px;
    height: 70%;
    margin-left: 0px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  background-color: #FFCC29;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5625em;
  line-height: em 30, 25;
  color: #A02B2D;
  text-decoration: none;
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background-color: #A02B2D;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .menu {
    padding: 10px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .menu ul li a {
    display: inline-block;
    padding: 10px;
    font-family: "Poppins", sans-serif;
  }
}

@media screen and (max-width: 759px) {
  .menu {
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 759px) {
  .menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 759px) {
  .topo ul {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: wheat;
  }
}

.fundoLanche {
  width: 798px;
  margin-left: 13px;
  position: absolute;
  z-index: 10;
}

.fundoLanche:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

@media screen and (min-width: 1200px) {
  .fundoLanche {
    max-width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .fundoLanche {
    display: none;
  }
}

@media screen and (max-width: 759px) {
  .fundoLanche {
    display: none;
  }
}

.produtos {
  font-family: "Bungee";
  color: #FFCC29;
  font-size: 50px;
  position: relative;
  z-index: 15;
  margin-left: 50px;
}

.produtos, ul, li {
  line-height: 2;
}

.extra {
  color: #FEFEFE;
  margin-left: 80px;
}

.btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  background-color: #FFCC29;
  color: #A02B2D;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .lanche {
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 759px) {
  .lanche {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    width: 100%;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .cardapio {
    width: 100%;
    background-color: #A02B2D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #A02B2D;
    border-radius: 5px;
    padding: 10px;
  }
}

@media screen and (max-width: 759px) {
  .cardapio {
    margin: 0 auto;
    height: 100vh;
    background-color: #A02B2D;
  }
}

@media screen and (max-width: 759px) {
  .cardapio .produtos {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 759px) {
  .cardapio .produtos .btn {
    margin-top: 100px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .produtos ul li {
    text-align: center;
    list-style: none;
    margin: 0 auto;
  }
}

.combo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.comboTexto {
  font-family: "Bungee";
  font-size: 50px;
  z-index: 1;
}

.marcador {
  content: "";
  display: block;
  width: 15px;
  height: 160px;
  background-color: #FFCC29;
}

spam {
  font-size: 60px;
}

.lancheFoto {
  margin-top: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.promocao {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 759px) {
  .combo {
    background-color: #FEFEFE;
  }
}

@media screen and (max-width: 759px) {
  .promocao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.desenvolvedor {
  width: 100%;
  height: 50px;
  background-color: #FFCC29;
  color: #A02B2D;
  font-family: "Poppins", sans-serif;
  font-size: 1.5625em;
  line-height: em 30, 25;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.animacao {
  animation: is-boucing 1s ease-in-out alternate infinite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  z-index: 20;
  padding-right: 50px;
  bottom: -20px;
}

@keyframes is-boucing {
  to {
    transform: translateY(50px);
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  }
}

.hamburguer {
  padding-right: 50px;
  margin-bottom: 100px;
}

.cachorro_quente {
  padding-right: 50px;
}

.batata {
  padding-right: 50px;
  margin-bottom: 100px;
}

.sanduiche {
  padding-right: 50px;
}

.pizza {
  padding-right: 50px;
  margin-bottom: 100px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .animacao {
    display: none;
  }
}

@media screen and (max-width: 759px) {
  .animacao {
    display: none;
  }
}

.produtos ul li {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 50%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.btn {
  animation: botaoSubir 2s ease-in-out;
}

@keyframes botaoSubir {
  to {
    transform: translateY(100px);
  }
}
