.combo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.comboTexto{
    font-family: $fonte-2;
    font-size: 50px;
    z-index: 1;
}

.marcador {
    content: "";    
    display: block;
    width: 15px;
    height: 160px;
    background-color: $cor-secundaria;
}

spam{
    font-size: 60px;
}


.lancheFoto{
    margin-top: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.promocao{
    display: flex;
    justify-content: end;
}


// dispositivo (s)
.combo{
    @include d(s){
    background-color: $cor-neutra;
    }
}

.promocao{
    @include d(s){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
}


